*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #111;
    font-family: Arial, sans-serif;
}

.container{
    display: flex;
    gap: 20px;
    max-width: 80%;
    margin: auto;
    padding: 2em 0;
}

.card{
    background: #222;
    border-radius: 12px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.card:hover{
    transform: scale(1.03);
}

.media-wrapper{
    position: relative;
    height: 140px;
    width: 100%;
}

.media{
    position: absolute;
    top: 0;
    left: 0;
    height: 140px;
    width: 100%;
    object-fit: cover;
    transition: 0.3s ease;
    border-bottom: 1px solid #333;
}

.video{
    opacity: 0;
    z-index: 2;
}

.img{
    opacity: 1;
    z-index: 1;
}

.details{
    padding: 12px;
    background: #111;
}

.title-like{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    margin-bottom: 10px;
}

.like-icon{
    color: #bbb;
    cursor: pointer;
    transition: 0.3s;
}

.like-icon.liked{
    color: red;
}

.play-btn{
    width: 100%;
    background: red;
    border: none;
    color: #ffffff;
    padding: 8px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
}

.card:hover .play-btn{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.play-btn{
    margin-right: 6px;
}

.play-btn:hover{
    background-color: #e50914;
}